/* --------------------------------------------------- 
   ------------------- PRE LOAD ---------------------- 
   --------------------------------------------------- */

#preload {
    z-index: 6;
    position: absolute;
    animation-duration: 3s;
    animation-delay: 3s;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: #333;
    font-family: 'Poppins', sans-serif;
}

#preload h1 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 30px;
}

#preload h1 span {
    display: inline-table;
    color: #19a6c9;
}

#preload h1 span:nth-child(even) {
    overflow: hidden;
    color: #fff;
    animation: 2s ease-in-out 0s 1 slideInFromLeft;
}

@keyframes slideInFromLeft {
    0% {
        letter-spacing: -1em;
    }
    100% {
        letter-spacing: 0;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    #preload h1 {
        font-size: 20px;
    }
}